<!-- Modal-->
<div class="modal fade" id="addSpecialtyModal" tabindex="-1" role="dialog" aria-labelledby="SpecialtymyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="SpecialtymyModalLabel">Add New Specialty</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{
                    var s = new MedicalOffice.Models.Specialty();
                    <partial name="_SpecialtyCreate" model="s" />
                }
            </div>
        </div>
    </div>
</div>