
@{
    ViewData["Title"] = "Index";
}


<h2>Lookup Values</h2>

<div>
    <!-- Nav tabs -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="Specialty-Tab" data-bs-toggle="tab" data-bs-target="#SpecialtyPanel" type="button" role="tab" aria-controls="SpecialtyPanel" aria-selected="true">Specialties</button>
            <button class="nav-link" id="MedicalTrial-Tab" data-bs-toggle="tab" data-bs-target="#MedicalTrialPanel" type="button" role="tab" aria-controls="MedicalTrialPanel" aria-selected="false">Medical Trials</button>
            <button class="nav-link" id="Condition-Tab" data-bs-toggle="tab" data-bs-target="#ConditionPanel" type="button" role="tab" aria-controls="ConditionPanel" aria-selected="false">Conditions</button>
            <button class="nav-link" id="AppointmentReason-Tab" data-bs-toggle="tab" data-bs-target="#AppointmentReasonPanel" type="button" role="tab" aria-controls="AppointmentReasonPanel" aria-selected="false">Appointment Reasons</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="SpecialtyPanel" role="tabpanel" aria-labelledby="Specialty-Tab"><br /></div>
        <div class="tab-pane fade" id="MedicalTrialPanel" role="tabpanel" aria-labelledby="MedicalTrial-Tab"><br /></div>
        <div class="tab-pane fade" id="ConditionPanel" role="tabpanel" aria-labelledby="Condition-Tab"><br /></div>
        <div class="tab-pane fade" id="AppointmentReasonPanel" role="tabpanel" aria-labelledby="AppointmentReason-Tab"><br /></div>
    </div>
</div>
<hr />
<br />

@section Scripts {
    <script type="text/javascript">
        function refreshTab(activeTab) {
            switch (activeTab) {
                case 'Specialty-Tab': $('#SpecialtyPanel').load('/Lookup/Specialty');
                    break;
                case 'MedicalTrial-Tab': $('#MedicalTrialPanel').load('/Lookup/MedicalTrial');
                    break;
                case 'Condition-Tab': $('#ConditionPanel').load('/Lookup/Condition');
                    break;
                case 'AppointmentReason-Tab': $('#AppointmentReasonPanel').load('/Lookup/AppointmentReason');
                    break;
                default: break;
            };
            return;
        };
        $('.nav-link').click(function () {
            var activeTab = $(this).attr("id");
            refreshTab(activeTab);
        });
        $(".tab-content").on("click", ".linkClick", function (event) {
            event.preventDefault();
            var address = $(this).attr("href");
            var lookup = address.split("/")[1];
            var id = $("#" + lookup + "ID").val();
            var caption = $("#" + lookup).html();
            if (id == null) {
                alert("Error: no value selected from the " + caption + " list!");
            } else {
                window.location.href = address + "/" + id;
            }
        });
        $(function () {
            setTimeout(function () {
                $("#@ViewData["Tab"]").trigger('click');
            }, 10);
        });
    </script>
}


